.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;

  .article-title {
    width: 100%;
    max-width: 900px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .article-image {
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
  }

  .article-content {
    width: 100%;
    max-width: 900px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
  }

  .back-to-list-link {
    align-self: flex-start;
  }

  .article-error-message {
    padding: 40px 0;
    font-size: 18px;
  }
}
