.top-news-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;

  .top-news-page-error {
    padding: 40px 0;
    font-size: 18px;
  }
}
