@use "src/assets/vendor";

.top-news-page-container {
  width: 100%;
  @include vendor.flexbox;
  @include vendor.flex-direction(column);
  @include vendor.align-items(center);
  padding: 15px 5px;

  .top-news-page-error {
    padding: 40px 0;
    font-size: 18px;
  }
}
