.small-news-thumbnail-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  transition: visibility 1s, width 1s, padding 1s, opacity 1s, transform 1s;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;

  &.previous {
    padding: 0;
    opacity: 0;
    width: 0;
    transform: translateX(-100px);
    visibility: hidden;
  }

  &.next {
    padding: 0;
    opacity: 0;
    width: 0;
    transform: translateX(100px);
    visibility: hidden;
  }

  &.hidden {
    display: none;
  }

  .small-news-thumbnail-title {
    text-align: center;
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .small-news-thumbnail-image {
    width: 100%;
  }

  .read-more-link {
    font-size: 16px;
  }
}
