@use "src/assets/vendor";

.category-preview-container {
  @include vendor.flexbox;
  position: relative;
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 1.25s, visibility 1.25s;
  margin-top: 15px;

  &.invisible {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  .swipe-button {
    font-size: 20px;
    color: #474747;
    width: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    @include vendor.align-self(center);
    cursor: pointer;

    &:focus {
      border: 1px solid #474747;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  .category-thumbnails {
    @include vendor.flexbox;
    width: 100%;
    @include vendor.justify-content(space-between);
    @include vendor.align-items(center);
    overflow: hidden;
  }
}
