.search-form-container {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;

  input {
    font-size: 16px;
    padding: 5px;
    margin: 15px 0;
    width: 100%;
    background-color: #b8b8b8;
    border: 1px solid #474747;
  }
}
