@use "src/assets/vendor";

.header-container {
  width: 100%;
  padding: 10px;
  @include vendor.flexbox;
  @include vendor.justify-content(center);
  @include vendor.align-items(center);
  margin-bottom: 30px;

  .header-width {
    width: 100%;
    max-width: 1200px;
    @include vendor.flexbox;
    @include vendor.justify-content(center);
    position: relative;

    .header-navigation {
      @include vendor.flex-grow(1);
      @include vendor.flexbox;
      @include vendor.justify-content(center);
      @include vendor.align-items(center);

      .regular-navigation {
        display: none;

        a.selected {
          background-color: #474747;
          color: white;
          border-radius: 4px;
        }
      }
    }

    .hamburger-menu-button {
      cursor: pointer;
      margin: 0 30px;
      border: none;
      background-color: white;

      .hamburger-bar {
        width: 30px;
        height: 3px;
        background-color: #474747;
        margin: 4px 0;
      }
    }

    .header-country-select {
      .country-select-button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 8px;
        font-size: 22px;
        cursor: pointer;
        border-radius: 4px;

        &:focus {
          border: 1px solid #474747;
        }

        &.selected {
          background-color: #474747;
          color: white;
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.4;
        }
      }
    }
  }
}
